<h1>Name: <%=@teller.first_name%> <%=@teller.last_name%></h1>
<p>From: <%=@teller.country_of_origin%></p>
<p>Allergic to: <%=@teller.allergy%></p>
<p>Favorite Color:  <%=@teller.favorite_color%></p>
<p><%= @teller.first_name %> <%=@teller.last_name %> has this to tell you: </p>
<div id="fortunte">
	<p><%=@teller.fortune%></p>
</div>


